.scorpio-task-manager-logo {
    width: 100px;
    height: 100px;
    position: relative;
    object-fit: cover;
  }
  
  .create-an-account,
  .scorpio-task-manager {
    margin: 0;
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-family: inherit;
  }
  
  .scorpio-task-manager {
    font-size: var(--font-size-13xl);
    font-weight: 700;
  }
  
  .create-an-account {
    font-size: inherit;
    font-weight: 600;
  }
  
  .enter-your-email {
    position: relative;
    font-size: var(--small-text-size);
    line-height: 150%;
  }
  
  .create-an-account-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-9xs);
    font-size: var(--font-size-5xl);
  }
  
  .label,
  .label1,
  .label2,
  .label3,
  .label4,
  .label5 {
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--small-text);
    font-size: var(--body-text-size);
    background-color: transparent;
    position: relative;
    line-height: 150%;
    color: var(--color-gray);
    text-align: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 221px;
    padding: 0;
  }
  
  .field,
  .field1,
  .field2,
  .field3,
  .field4,
  .field5 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro-200);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: var(--padding-10xs) var(--padding-mini);
    max-width: 100%;
  }
  
  .sign-up {
    position: relative;
    font-size: var(--small-text-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--small-text);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 58px;
  }
  
  .button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-xl);
    background-color: var(--color-black);
    border-radius: var(--br-5xs);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
  }
  
  .button:hover {
    background-color: var(--color-darkslategray);
  }
  
  .input-and-button,
  .divider,
  .button {
    align-self: stretch;
    max-width: 100%;
  }
  
  .input-and-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-base);
  }
  
  .divider {
    height: 1px;
    background-color: var(--color-gainsboro-100);
  }
  
  .privacy-policy,
  .terms-of-service,
  .already-have-an {
    color: var(--color-black);
  }
  
  .by-clicking-continue-container {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 100%;
    color: var(--color-gray);
  }
  
  .span {
    color: var(--color-gray);
  }
  
  .sign-in {
    text-decoration: underline;
  }
  
  .already-have-an-container {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    color: var(--color-dodgerblue);
  }
  
  .content,
  .registration,
  .registration1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    width: 400px;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    max-width: 100%;
  }
  
  .registration,
  .registration1 {
    background-color: var(--color-white);
    justify-content: center;
    box-sizing: border-box;
  }
  
  .registration1 {
    align-self: stretch;
    padding: 137.5px var(--padding-xl);
    max-width: 100%;
    text-align: center;
    font-size: var(--small-text-size);
    color: var(--color-black);
    font-family: var(--small-text);
  }
  
  .registration {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 var(--padding-xl);
    letter-spacing: normal;
    line-height: normal;
  }
  
  @media screen and (max-width: 900px) {
    .scorpio-task-manager {
      font-size: var(--font-size-7xl);
      line-height: 38px;
    }
    .registration1 {
      padding: var(--padding-70xl) 0;
    }
  }
  
  @media screen and (max-width: 750px) {
    .scorpio-task-manager {
      font-size: var(--font-size-7xl);
      line-height: 38px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .create-an-account,
    .scorpio-task-manager {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .label,
    .label1,
    .label2,
    .label3,
    .label4,
    .label5 {
      font-size: var(--small-text-size);
      line-height: 24px;
    }
    .registration1 {
      padding: var(--padding-39xl) 0;
    }
  }

  /* PHP CSS and stuff */
  .errorclass{
    font-family: var(--small-text);
    color: red;
  }

  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --small-text: Inter;
  
    /* font sizes */
    --small-text-size: 16px;
    --body-text-size: 20px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-13xl: 32px;
    --font-size-7xl: 26px;
    --font-size-17xl: 36px;
    --font-size-10xl: 29px;
    --font-size-3xl: 22px;
  
    /* Colors */
    --color-white: #fff;
    --color-dodgerblue: #4285f4;
    --color-gray: #828282;
    --color-black: #000;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #e0e0e0;
    --color-darkslategray: #333;
    --color-whitesmoke-100: #f7f7f7;
  
    /* Gaps */
    --gap-5xl: 24px;
    --gap-base: 16px;
    --gap-9xs: 4px;
    --gap-5xs: 8px;
    --gap-12xl: 31px;
    --gap-lg: 18px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-39xl: 58px;
    --padding-70xl: 89px;
    --padding-5xs: 8px;
    --padding-10xs: 3px;
    --padding-mini: 15px;
    --padding-80xl: 99px;
    --padding-133xl: 152px;
    --padding-xs-5: 11.5px;
    --padding-28xl: 47px;
    --padding-8xl: 27px;
    --padding-6xl: 25px;
    --padding-base: 16px;
    --padding-5xl: 24px;
    --padding-60xl: 79px;
    --padding-6xs: 7px;
    --padding-7xs: 6px;
  
    /* Border radiuses */
    --br-5xs: 8px;
    --br-71xl: 90px;
    --br-3xl: 22px;
  }
  


  
  