.image-child {
    height: 100px;
    width: 100px;
    position: relative;
    object-fit: cover;
  }
  .image {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .scorpio-task-manager {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 700;
    font-family: inherit;
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl) var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-13xl);
  }
  .create-an-account {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    font-family: inherit;
  }
  .create-account {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
    font-size: var(--font-size-5xl);
  }
  .enter-your-email {
    position: relative;
    line-height: 150%;
  }
  .input-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 54px var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .label {
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--small-text);
    font-size: var(--body-text-size);
    background-color: transparent;
    flex: 1;
    position: relative;
    line-height: 150%;
    color: var(--color-gray);
    text-align: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 221px;
    max-width: 100%;
    padding: 0;
  }
  .content1,
  .field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .field {
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro-200);
    padding: var(--padding-10xs) var(--padding-mini);
  }
  .content1 {
    width: 400px;
    padding: 0 0 12px;
  }
  .primary {
    position: relative;
    font-size: var(--small-text-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--small-text);
    color: var(--color-white);
    text-align: left;
  }
  .button,
  .content2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-xl);
    background-color: var(--color-black);
    flex: 1;
    border-radius: var(--br-5xs);
    justify-content: center;
    white-space: nowrap;
  }
  .button:hover {
    background-color: var(--color-darkslategray);
  }
  .content2 {
    width: 400px;
    justify-content: flex-start;
    padding: 0 0 var(--padding-xl);
  }
  .separator-child {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gainsboro-100);
  }
  .separator {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs-5) 0 0;
    box-sizing: border-box;
    min-width: 84px;
  }
  .or-continue-with {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 123px;
  }
  .separator-item {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gainsboro-100);
  }
  .separator1,
  .sign-in {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .separator1 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-xs-5) 0 0;
    min-width: 84px;
  }
  .sign-in {
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 var(--padding-xl);
    gap: var(--gap-5xs);
    max-width: 100%;
    color: var(--color-gray);
  }
  .google-icon {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .google-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
  }
  .secondary {
    position: relative;
    font-size: var(--small-text-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--small-text);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    min-width: 55px;
  }
  .button1,
  .content3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .button1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-sm);
    background-color: var(--color-whitesmoke);
    flex: 1;
    border-radius: var(--br-5xs);
    gap: var(--gap-119xl-5);
  }
  .content3 {
    width: 400px;
    padding: 0 0 var(--padding-xl);
  }
  .privacy-policy,
  .terms-of-service {
    color: var(--color-black);
  }
  .by-clicking-continue-container {
    flex: 1;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 100%;
  }
  .content4 {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    color: var(--color-gray);
  }
  .already-have-an {
    color: var(--color-black);
  }
  .span {
    color: var(--color-gray);
  }
  .sign-in1 {
    text-decoration: underline;
  }
  .already-have-an-container {
    text-decoration: none;
    width: 400px;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    color: var(--color-dodgerblue);
  }
  .registration {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-215xl) var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-9xs);
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    font-size: var(--small-text-size);
    color: var(--color-black);
    font-family: var(--small-text);
  }
  @media screen and (max-width: 750px) {
    .scorpio-task-manager {
      font-size: var(--font-size-7xl);
      line-height: 38px;
    }
  }
  @media screen and (max-width: 450px) {
    .create-an-account,
    .scorpio-task-manager {
      font-size: var(--font-size-lgi);
      line-height: 29px;
    }
    .input-description {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .label {
      font-size: var(--small-text-size);
      line-height: 24px;
    }
  }
  