.app-title,
.scorpio-icon {
  position: absolute;
  margin: 0 !important;
  top: 21px;
}
.app-title {
  left: 12px;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
}
.scorpio-icon {
  height: 36px;
  width: 36px;
  left: 224px;
  object-fit: cover;
}
.join-projects2 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  white-space: nowrap;
}
.menu-item13 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.home-icon3,
.home2 {
  position: relative;
  overflow: hidden;
}
.home-icon3 {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 24px;
}
.home2 {
  flex: 1;
  font-size: var(--small-text-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--color-black);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.homebutton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.homebutton:hover,
.joinbycodebutton:hover {
  background-color: var(--color-gainsboro-100);
}
.add-icon3,
.join-by-code2 {
  position: relative;
  overflow: hidden;
}
.add-icon3 {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 24px;
}
.join-by-code2 {
  flex: 1;
  font-size: var(--small-text-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--color-black);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.joinbycodebutton,
.navigation {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.joinbycodebutton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  flex-direction: row;
  gap: var(--gap-base);
  white-space: nowrap;
}
.navigation {
  margin: 0;
  flex-direction: column;
  gap: var(--gap-9xs);
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--small-text-size);
  color: var(--color-black);
  font-family: var(--small-text);
}
.participating-projects2 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.list5,
.menu-item14,
.title6 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.title6 {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
}
.list5,
.menu-item14 {
  font-size: var(--small-text-size);
  font-family: var(--small-text);
}
.menu-item14 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs-5) var(--padding-mini);
  color: var(--color-gray);
}
.list5 {
  margin: 0;
  height: 75px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  text-align: left;
  color: var(--color-black);
}
.project-forum2 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.title7 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
}
.list6,
.menu-item15,
.sidebarui,
.title7 {
  display: flex;
  justify-content: flex-start;
}
.menu-item15 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs-5) var(--padding-mini);
  font-family: var(--small-text);
  font-size: var(--small-text-size);
  color: var(--color-gray);
}
.list6,
.sidebarui {
  flex-direction: column;
  align-items: flex-start;
}
.list6 {
  margin: 0;
  align-self: stretch;
  height: 75px;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--small-text-size);
  color: var(--color-black);
  font-family: var(--small-text);
}
.sidebarui {
  margin: 0 !important;
  width: 240px;
  position: absolute;
  top: 77px;
  left: 16px;
  gap: 20px;
}
.homepage-sidebar2,
.mainpage {
  height: 100vh;
  position: relative;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.homepage-sidebar2 {
  width: 272px;
  border-right: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-2xl) 0;
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--color-black);
  font-family: var(--small-text);
  z-index: 3;
}

.background-fill{
  position: absolute;
  background-color: var(--color-white);
  z-index: 2;
}

body {
    margin: 0;
    overflow: hidden;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --small-text: Inter;
    --font-noto-sans: "Noto Sans";
  
    /* font sizes */
    --small-text-size: 16px;
    --body-text-size: 20px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-13xl: 32px;
    --font-size-7xl: 26px;
    --font-size-11xl: 30px;
  
    /* Colors */
    --color-white: #fff;
    --color-dodgerblue: #4285f4;
    --color-gray: #828282;
    --color-black: #000;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #e0e0e0;
    --color-darkslategray: #333;
    --color-whitesmoke-100: #f7f7f7;
  
    /* Gaps */
    --gap-5xl: 24px;
    --gap-base: 16px;
    --gap-9xs: 4px;
    --gap-5xs: 8px;
    --gap-8xs: 5px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-39xl: 58px;
    --padding-70xl: 89px;
    --padding-5xs: 8px;
    --padding-10xs: 3px;
    --padding-mini: 15px;
    --padding-80xl: 99px;
    --padding-133xl: 152px;
    --padding-sm: 14px;
    --padding-xs-5: 11.5px;
    --padding-2xl: 21px;
    --padding-base: 16px;
    --padding-3xs: 10px;
    --padding-4xs-5: 8.5px;
  
    /* Border radiuses */
    --br-5xs: 8px;
    --br-3xl: 22px;
  
    /* Effects */
    --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  }
  
  .select-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%; /* Ensure the container takes full width */
}

.select-container img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.select-container select {
    flex: 1; /* Make the select take remaining space */
    padding: 5px;
    font-size: 16px;
    width: 100%; /* Ensure the select takes full width of its container */
    max-width: 200px; /* Set a max-width if necessary */
}

/* Adjust the container for select elements */
.list5 .select-container,
.list6 .select-container {
    margin-left: 16px; /* Align with the padding of buttons */
}

/* Additional styles for buttons for alignment */
.homebutton, .joinbycodebutton {
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--padding-5xs) var(--padding-base);
}

.homebutton .home2, .joinbycodebutton .join-by-code2 {
    flex: 1;
    text-align: left;
    padding-left: 10px; /* Adjust padding for alignment */
}

.menu-item14, .menu-item15 {
    width: calc(100% - 30px); /* Adjust the width considering icon and padding */
}

.logout-link {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  white-space: nowrap;
  color: #888;
  left: 10px;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.popup-content {
  position: fixed;
  background-color: #fefefe;
  margin-left: 292px; /* 272px (sidebar width) + 20px (gap) */
  margin-top: 102px;
  padding: 20px;
  border: 1px solid #888;
  border-radius: var(--br-5xs); /* Same border radius as the page */
  width: 200px; 
  font-family: var(--small-text); /* Use the same font family */
  font-size: var(--small-text-size); /* Use the same font size */
  line-height: 150%;
  font-weight: 500; 
}

.popupInputField{
  width: 100%;
  padding: var(--padding-5xs);
  border: 1px solid #888;
  border-radius: var(--br-5xs); 
  font-family: var(--small-text); 
  font-size: var(--small-text-size); 
  box-sizing: border-box;
}

.popup-content button {
  margin-top: 10px;
  cursor: pointer;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: #727272;
  border: none;
  border-radius: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--small-text); 
  font-size: var(--small-text-size); 
  font-weight: 500; 
}

.popup-content button:hover {
  background-color: #525252;
}

.close {
  position: absolute;
  top: 0px;
  right: 9px;
  color: #aaa;
  float: right;
  font-size: 16px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* CHAT PAGE CSS */

.header-container {
  position: fixed;
  top: 0;
  left: 272px; /* Adjust to account for the sidebar */
  width: calc(100% - 272px); /* Adjust width to account for the sidebar */
  height: 80px; /* Adjust the height as needed */
  background-color: white;
  z-index: 100;
}

.header {
  flex-shrink: 0;
  text-decoration: underline; 
  font-family: 'Inter', sans-serif; /* Change font to Inter */
  font-weight: 500; /* Medium font style */
  padding-left: 20px;
  line-height: 80px; /* Center text vertically */
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px); /* Subtract header and footer height */
  position: relative;
  min-height: auto;
  padding-bottom: 300px; /* Space for the footer */
  padding-left: 282px; /* Account for sidebar */
  padding-top: 100px; /* Space for the header */
  margin-left: 0;
  z-index: 1;
  overflow-y: auto;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 272px; /* Adjust if needed to account for the sidebar */
  width: calc(100% - 272px); /* Adjust width to account for the sidebar */
  height: 80px;
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center; /* Center align items vertically */
  justify-content: left; /* Center align items horizontally */
}

.message-input-container {
  display: flex;
  align-items: center; 
  width: 100%; /* Take full width */
  padding: 10px; /* Add some padding for better spacing */
}

.ScorpioChatForm{
  padding-left: 20px;
}

.message {
  width: 600px;
  border-radius: 5px;
  flex: 1; /* Take up the remaining space */
  height: 16px; /* Adjust height as needed */
  margin-right: 10px; /* Space between the textarea and the button */
  padding: 10px;
  font-size: 14px; /* Adjust font size as needed */
}

.send-button {
  height: 40px; /* Match the height of the textarea */
  padding: 0 20px; /* Add some padding inside the button */
  cursor: pointer; /* Change cursor to pointer on hover */
  background-color: grey; /* Adjust background color as needed */
  color: white; /* Adjust text color as needed */
  border: none; /* Remove default border */
  border-radius: 22px; /* Add border radius if needed */
}

.send-button:hover{
  background-color: #333;
}

.dpClass {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.main-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.main-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.main-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.displayPicture {
  margin-right: 10px;
}

.dpClass {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-header {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #727272;
  margin-bottom: 5px;
}

.displayUsername {
  font-size: 16px; /* Larger font size for username */
  font-weight: 500; /* Medium font style */
  margin-right: 10px;
}

.displayTimeSent {
  font-size: 12px; /* Smaller font size for time sent */
  font-weight: 400; /* Regular font style */
}

.msgUser1 span {
  font-size: 14px;
  color: #727272;
  font-family: 'Inter', sans-serif;
}
